:root {
    --primaryBC: #1c1c1c;
    --range: #ffffff59;
    --bar: linear-gradient(
            90deg,
            #FF6B6B 0%,
            #F7FFF7 34%,
            #FFE66D 65%
    );
    --bg: linear-gradient(#0d0d0d, var(--primaryBC) 50%);
    --primary: #F7FFF7;
    --third: #9f9f9f;
    --poppins: "Poppins", sans-serif;
    --blue: #4c7bfe;
    --red: #FF6B6B;
    --yellow: #FFE66D;
}

.button.is-primary {
    background-color: var(--red) !important;
    color: var(--primary) !important;
}

.button.is-secondary {
    background-color: var(--yellow) !important;
    color: var(--primary) !important;
}

.button.is-third {
    background-color: var(--blue) !important;
    color: var(--primary) !important;
}

.button.is-limited {
    max-width: max-content;
}

.button.is-square {
    width: 2.5em;
    height: 2.5em;
    padding: 1.5em !important;
}

.label:not(:last-child) {
    margin-bottom: .5em;
}

.label.label-active, .label.label-main {
    color: var(--primary) !important;
}

.label {
    margin-bottom: 0 !important;
}

.tag.is-selected {
    background-color: var(--blue) !important;
}

img {
    height: revert-layer !important;
    max-width: unset !important;
}

.hero.is-info .navbar-menu {
    background-color: var(--bg);
}

.navbar-burger {
    color: var(--primary) !important;
}
