<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/base.css">
    <title>Tricky Tricks, {% block title %}{% endblock %}</title>
    <link rel="icon" href="/static/assets/trickstok_logo_trans.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static/js/swipe.js"></script>
    <link rel="manifest" href="/static/js/pwa/manifest.json">
    <link rel="apple-touch-icon"                       href="/static/assets/trickstok_logo.png">
    <meta name="apple-mobile-web-app-capable"          content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <meta name="format-detection"                      content="telephone=no">
    <link rel="stylesheet" href="/static/fontawesome/css/all.css">
</head>
<body>
{% block content %}
{% endblock %}
<script src="/static/js/base.js"></script>
</body>
</html>