<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/form.css">
    <title>Tricks Tok, {% block title %}{% endblock %}</title>
    <link rel="icon" href="/static/assets/trickstok_logo_trans.png">
    <script src="https://kit.fontawesome.com/628c8d2499.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static/js/swipe.js"></script>
    <link rel="manifest" href="/static/js/pwa/manifest.json">
    <link rel="apple-touch-icon"                       href="/static/assets/trickstok_logo.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <meta name="apple-mobile-web-app-capable"          content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <meta name="format-detection"                      content="telephone=no">
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>