<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Trickstok - Conditions générales d'utilisation et mentions légales</title>
</head>
<body>
<h1 id="mentions-l-gales">Mentions légales</h1>
<h2 id="identit-">Identité</h2>
<ul>
  <li>Nom du site web : Trickstok</li>
  <li>Adresse : <a href="https://trickstok.camarm.fr">https://trickstok.camarm.fr</a></li>
  <li>Propriétaires et responsables de publication : Armand Camponovo, David Mourot</li>
  <li>Conception : camarm de <a href="https://www.camarm.dev/">CAMARM Dev, Inc</a></li>
  <li>Réalisation : camarm de <a href="https://www.camarm.dev/">CAMARM Dev, Inc</a></li>
  <li>Graphisme et photographie : Armand Camponovo, David Mourot</li>
  <li>Hébergement : <a href="https://www.camarm.dev/">Labse</a> (par camarm) &amp; <a href="https://lgp-corp.fr">LGP Corp</a> France<br></li>
</ul>
<h2 id="conditions-d-utilisation">Conditions d’utilisation</h2>
<p>L’utilisation du présent site implique l’acceptation pleine et entière des conditions générales d’utilisation décrites ci-après. Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout moment.</p>
<h2 id="informations">Informations</h2>
<p>Les informations et documents du site sont présentés à titre indicatif, n’ont pas de caractère exhaustif, et ne peuvent engager la responsabilité du propriétaire du site.</p>
<p>Le propriétaire du site ne peut être tenu responsable des dommages directs et indirects consécutifs à l’accès au site.</p>
<h2 id="consultation-et-confidentialit-">Consultation et confidentialité</h2>
<p>Les utilisateurs du site peuvent librement accéder et publier du contenu après inscription.</p>
<p>Aucune information à caractère personnel n&#39;est collectée lors de la navigation, seul une addresse mail valide et un nom complet sont demandés à l&#39;inscription. Seuls les cookies utiles à la naviguation (tel que pour reconnaître le compte connecté) sont utilisés.
  Le site ne recueillant pas d’informations personnelles, il n’est pas assujetti à une déclaration à la CNIL.</p>
<h2 id="propri-t-intellectuelle">Propriété intellectuelle</h2>
<p>Tous les éléments accessibles sur le site (textes, images, graphismes, logo, icônes, gif, photos, sons, logiciels, etc.) restent la propriété exclusive de leurs auteurs, en ce qui concerne les droits de propriété intellectuelle ou les droits d’usage.</p>
<p>Toute reproduction, représentation, publication de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est autorisée sous réserve de respect des dispositions décrites ci-dessous (cf. Licence et crédits). La modification ou l&#39;adaptation de tout élément n&#39;est pas autorisée, sauf mention écrite expresse de la part de ses auteurs.</p>
<p>Toute exploitation non autorisée du site ou de l’un des éléments qu’il contient est considérée comme constitutive d’une contrefaçon et poursuivie.</p>
<p>Les marques et logos reproduits sur le site sont déposés par les sociétés qui en sont propriétaires.</p>
<h2 id="licences-et-cr-dits">Licences et crédits</h2>
<p>Les images concernant la marque TricksTok ont été créés par Armand Camponovo qui en autorise la libre utilisation sous la <a href="https://creativecommons.org/licenses/by-nc-nd/3.0/fr/">licence Creative Commons CC BY-NC-ND 3.0 FR</a>. Si vous souhaitez reproduire tout ou partie de ces productions, vous devez créditer son auteur, ne pas en faire d&#39;usage commercial, ni de modification.</p>
<p>Les vidéos publiées par les utilisateurs sur la plateforme TricksTok leurs appartiennent. Pour toutes demandes concernant leurs droits de copie, veuillez vous référer à l'utilisateur lui-même, ou bien nous envoyer un mail.</p>
<p>Le site web a été développé par camarm, son code source est ouvert sous <a href="http://www.cecill.info/licences/Licence_CeCILL_V2.1-fr.html">licence CeCILLv2.1</a> et consultable sur <a href="https://gitlab.com/comtelabs/trickstok">GitLab</a>.
  Ce site a été développé en <a href="https://python.org">Python</a><a href="https://python.org">&nbsp;<img style="margin-top: auto; margin-bottom: auto; height: 90%;" alt="Python Logo" height="15" src="https://python.org/favicon.ico" width="15"/></a> et utilise les composants et librairies suivantes :</p>
<ul>
  <li><a href="https://flask.palletsprojects.com">Flask</a><a href="https://flask.palletsprojects.com">&nbsp;<img style="margin-top: auto; margin-bottom: auto; height: 90%;" alt="Flask Logo" height="15" src="https://flask.palletsprojects.com/en/2.0.x/_static/flask-icon.png" width="15"/></a></li>
  <li><a href="https://bulma.io">Bulma</a><a href="https://bulma.io">&nbsp;<img style="margin-top: auto; margin-bottom: auto; height: 90%;" alt="Bulma Logo" height="15" src="https://bulma.io/favicons/favicon.ico?v=201701041855" width="15"/></a></li>
  <li><a href="https://mongodb.com">MongoDB</a><a href="https://mongodb.com">&nbsp;<img style="margin-top: auto; margin-bottom: auto; height: 90%;" alt="MongoDB Logo" height="15" src="https://mongodb.com/favicon.ico" width="15"/></a></li>
</ul>
<p>Les présentes mentions légales sont librement adaptées du modèle fourni par <a href="https://www.webexpress.fr/contact/mentions-legales/">WebExpress dans sa version 2.0 <img style="margin-top: auto; margin-bottom: auto; height: 90%;" alt="CC Logo" height="50" width="100" src="https://www.webexpress.fr/wp-content/uploads/2015/09/webexpress-logo-v3-vecto.svg"></a>.</p>
<h2 id="liens">Liens</h2>
<h3 id="liens-sortants">Liens sortants</h3>
<p>Le propriétaire du site décline toute responsabilité et n’est pas engagé par le référencement via des liens hypertextes, de ressources tierces présentes sur le réseau Internet, tant en ce qui concerne leur contenu que leur pertinence.</p>
<h3 id="liens-entrants">Liens entrants</h3>
<p>Le propriétaire du site autorise les liens hypertextes vers l’une des pages de ce site, à condition que ceux-ci ouvrent une nouvelle fenêtre et soient présentés de manière non équivoque afin d’éviter :</p>
<ul>
  <li>tout risque de confusion entre le site citant et la propriétaire du site ;</li>
  <li>ainsi que toute présentation tendancieuse, ou contraire aux lois en vigueur.</li>
</ul>
<p>La propriétaire du site se réserve le droit de demander la suppression d’un lien s’il estime que le site source ne respecte pas les règles ainsi définies.</p>
<h2 id="textes-l-gaux-supports-des-pr-sentes-mentions-l-gales">Textes légaux supports des présentes mentions légales</h2>
<ul>
  <li>Articles L111-1 et suivants du Code de la Propriété Intellectuelle du 1er juillet 1992</li>
  <li>Article 41 de la loi du 11 mars 1957</li>
  <li>Article L. 226-13 du Code pénal et la Directive Européenne du 24 octobre 1995</li>
  <li>Articles L.335-2 et suivants du Code de Propriété Intellectuelle</li>
  <li>Loi n° 78-87 du 6 janvier 1978, modifiée par la loi n° 2004-801 du 6 août 2004, relative à l’informatique, aux fichiers et aux libertés</li>
  <li>Articles 38 et suivants de la loi 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés</li>
  <li>Loi du 1er juillet 1998 transposant la directive 96/9 du 11 mars 1996 relative à la protection juridique des bases de données</li>
  <li>Loi n° 2004-801 du 6 août 2004</li>
  <li>Article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique</li>
</ul>
</body>
</html>