<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TricksTok, se connecter / s'enregistrer</title>
    <link rel="stylesheet" href="/static/css/form.css">
    <script src="https://kit.fontawesome.com/628c8d2499.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<form method="post" action="/login">
    <section class="section has-padding">
        <h2 class="title is-2">TricksTok, Se connecter</h2>
        <p class="subtitle is-6">Rebonjour jeune tricker.</p>

        <div class="content has-text-centered">
            <a class="has-test-grey" href="/reg">S'enregistrer</a>
            -
            <a class="has-test-grey" href="/terms">Termes et conditions</a>
        </div>

        <div class="field">
            <label class="label">Nom d'utilisateur</label>
            <div class="control has-icons-left">
                <input class="input is-success" type="text" placeholder="johndoe" pattern="^[a-z0-9_.]+$" name="username" required>
                <span class="icon is-small is-left">
              <i class="fas fa-at"></i>
            </span>
            </div>
        </div>

        <div class="field">
            <label class="label">Mot de passe</label>
            <div class="control has-icons-left">
                <input class="input" type="password" placeholder="******" name="password" required>
                <span class="icon is-small is-left">
              <i class="fas fa-key"></i>
            </span>
            </div>
        </div>

        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link" type="submit">Se connecter</button>
            </div>
        </div>
    </section>
</form>
</body>
</html>