{% extends "base.html" %}
{% block title %}The TikTok of Tricks !{% endblock %}
{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-tagsinput@1.0.3/dist/css/bulma-tagsinput.min.css" />
<script src="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-tagsinput@1.0.3/dist/js/bulma-tagsinput.min.js"></script>
<large-screen>
  Désolé TricksTok est uniquement disponible sur téléphone ou écrans similaires...<br>
  <div class="links">
    <a href="/">Revenir à l'accueil</a>
  </div>
</large-screen>
<div id="all">
  <div class="screenloader">
  <div class="tk-loader">
    <span class="dot red"></span>
    <span class="dot blue"></span>
    <span class="dot yellow"></span>
  </div>
  <p class="has-text-white has-text-bold">Chargement de TricksTok...</p>
</div>
  <div id="home">
      <div class="container">
          <div class="overlay">
              <div class="howto">
                <div class="explain">
                  <span class="overlay-head-close" onclick="moreClose()">✕</span>
                  <ul class="explain-list">
                    <li class="explain-details">
                      <h2 class="explain-details-head">Vidéo</h2>
                      <span class="explain-details-desc">
                        <div class="overlay-more-section">
                          <strong>Mode plein écran</strong>
                          <button onclick="fullScreen()" class="button is-small is-third is-limited">Activer</button>
                        </div>
                        <strong>Signaler la vidéo:</strong>
                        <form action="/signal/" onsubmit="addVideoIDToPath(this, '/signal/')" method="post" class="overlay-more-section">
                          <p>Commentaire:</p>
                          <input type="text" class="input is-small" placeholder="Décrivez nous la raison du signalement." name="reason" required>
                          <p class="help is-danger"><i class="fas fa-exclamation-triangle"></i> &nbsp;Tout signalement abusif sera sanctionné</p>
                          <button class="button is-small is-primary is-limited">Signaler</button>
                        </form>
                      </span>
                    </li>
                  </ul>
                </div>
            </div>
          </div>
          <div class="comments-container">
            <div class="comments-head">
              <span class="comments-head-label">
                Commentaires
              </span>
              <span style="transform: scale(1.35)" class="comments-head-close">
                &#10005;
              </span>
            </div>
              <div class="comments-list">
                {% for comment in video.comments %}
                <div class="comments-item">
                  <span class="comment-top">
                    <span class="comment-top-logo image is-rounded"><img src="/media/pdp/{{comment.user.photo}}" class="photo is-rounded"></span>
                    <span class="comment-top-details">
                      <span class="user-name">{{comment.user.fullname}}</span>
                      <span class="user-time">{{comment.user.username}}</span>
                      <span class="user-comment">{{comment.content}}</span>
                    </span>
                  </span>
                </div>
                {% endfor %}
              </div>
              <div class="write-comment">
                <form action="/comment/" onsubmit="addVideoIDToPath(this, '/comment/')" class="one-lined" method="post">
                  <input class="input is-small" name="comment" required placeholder="Commentez quelque chose..."> <button class="button is-small"><i class="fas fa-paper-plane"></i></button>
                </form>
              </div>
          </div>


          <video data_id="{{video.video_id}}" style="cursor: s-resize;" title="Swipe" muted="" number="0" src="/media/videos/{{video.video_id}}" class="video" playsinline autoplay loop></video>


          <div class="top">
              <span class="label label-main"><img height="50" alt="trickstok logo" src="/static/assets/trickstok_logo_trans.png"></span>
              <span class="label label-active">Vidéos</span>
          </div>

          <div class="pause">
            <div class="icons-item right-icon">
              <span class="icon">
                <i class="fas fa-pause fa-2x" id="playpauseicon"></i>
              </span>
            </div>
          </div>

          <div class="right">
              <div class="icons-item right-icon to-profile" link="{{video.user.username}}">
                <span class="icon">
                    <img id="userpp" src="/media/pdp/{{video.user.photo}}" alt="{{video.user.username}}" class="photo small">
                </span>
                <span id="user" class="icon-label right-label"></span>
              </div>
              <div class="icons-item right-icon">
                <span class="icon" onclick="audio(this.children[0])" style="cursor: pointer">
                  <i class="fas fa-volume-mute"></i>
                </span>
                <span id="muteun" class="icon-label right-label">Muet</span>
              </div>
              <div class="icons-item right-icon" onclick="like()">
                <span class="icon likesicon {% if video.liked %}active{% endif %}">
                  <i id="likes-icon" class="fas fa-heart"></i>
                </span>
                <span class="icon-label likes right-label">{{video.likes_count}}</span>
              </div>
              <div class="icons-item right-icon" onclick="activateComments()">
                <span class="icon">
                  <i id="comments-icon" class="fas fa-comment-alt-lines"></i>
                </span>
                <span class="icon-label comments right-label">{{video.comment_count}}</span>
              </div>
              <div class="icons-item right-icon" onclick="share()" style="cursor: pointer;">
                <span class="icon">
                  <i class="fas fa-share-alt"></i>
                </span>
                <span class="icon-label shares right-label">Partager</span>
              </div>
              <div class="icons-item right-icon" onclick="more()" style="cursor: pointer;">
                <span class="icon">
                  <i class="fas fa-ellipsis-h"></i>
                </span>
                <span class="icon-label shares right-label">Plus</span>
            </div>
          </div>

          <div class="bottom for-video">
            <span class="video-infos">
              <div class="user to-profile" link="{{video.user.username}}">
                {{video.user.username}}{% if video.user.certified %}&nbsp;<i class="fas fa-badge-check"></i>{% endif %}
              </div>
              <p class="desc">
                {{video.description}}
                {% for tag in video.tags %}
                #{{tag}}
                {% endfor %}
              </p>
            </span>
            <span class="progress-duration"></span>
            <div class="progress-range" title="Timeline">
              <div class="progress-bar"></div>
            </div>
          </div>

      </div>
  </div>
  <div id="search" style="display: none">
      <div class="container search">
        <div class="field has-addons">
          <div class="control">
            <input class="input is-rounded" type="text" placeholder="Recherche..." id="searchinput">
          </div>
          <div class="control">
            <button class="button is-rounded" onclick="search()">
              <span class="icon is-right">
                <i class="fas fa-search"></i>
              </span>
            </button>
          </div>
        </div>
        <div class="tabs is-centered is-fullwidth">
          <ul>
            <li class="is-active" onclick="changeTab(this, 'li:last-child', 'results-videos-tab', ['results-users-tab'])"><a>Vidéos</a></li>
            <li onclick="changeTab(this, 'li:first-child', 'results-users-tab', ['results-videos-tab'])"><a>Utilisateurs</a></li>
          </ul>
        </div>

        <div id="results-videos-tab" class="videos"></div>
        <div id="results-users-tab" style="display: none"></div>
      </div>
  </div>
  <div id="messages" style="display: none">
      <div class="container messages">
        <h1 class="title">Messages</h1>
        <div class="chats">
          <div class="conversation">
            <div class="image">
              <img class="no-rounded" src="/static/assets/notifications.svg" alt="Notification Icon">
            </div>
            <div class="infos">
              <p class="name">Notification</p>
              <p class="last_message">Notification</p>
            </div>
          </div>
          <div class="modal">
            <div class="modal-content">
              <!-- Any other Bulma elements you want -->
            </div>
            <button class="modal-close is-large" aria-label="close"></button>
          </div>
          {% for conv in chats %}
          <div class="conversation">
            <div class="image">
              <img src="/media/pdp/{{conv.image}}">
            </div>
            <div class="infos">
              <p class="name">{{conv.name}}</p>
              <p class="last_message">{{conv.last_message}}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
  </div>
  <div id="account" style="display: none">
      <div class="container profil">
          <div class="profile">
              <button class="button is-primary is-small is-square is-rounded" onclick="document.getElementById('modify-account').classList.add('is-active')" style="position: absolute; right: 1.5em; top: 1.5em"><i class="fas fa-edit"></i></button>
              <div class="image">
                  <img src="/media/pdp/{{user.photo}}" alt="{{user.username}}" class="photo large">
              </div>
              <div class="infos">
                  <h1>{{user.username}} {% if user.certified %}<i class="fas fa-badge-check"></i>{% endif %}</h1>
                  <p>{{user.description}}</p>
              </div>
          </div>
          <div class="videos">
            {% for video in user.videos %}
            <div class="video-card">
              <div class="video-media" onclick="location.href = '/home?video={{video.video_id}}'">
                <video src="/media/videos/{{video.video_id}}"></video>
              </div>
              <div class="video-footer">
                <p class="desc">
                  {% if video.description|length > 21 %}
                  {{video.description[0:17]}}...
                  {% else %}
                  {{video.description}}
                  {% endif %}
                </p>
                <div class="actions">
                  <div class="views"><i class="fas fa-eye"></i>&nbsp;{{video.views}}</div>
                  <div class="delete-video" onclick="if (confirm('Êtes vous sur de vouloir supprimer la vidéo {{video.description}}') === true) { location.href = '/delete/{{video.video_id}}' } "><i class="fas fa-trash"></i></div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        <div class="modal" id="modify-account">
          <div class="modal-background"></div>
          <div class="modal-content">
            <form method="post" action="/modify" enctype="multipart/form-data">
              <section class="section has-padding">
                <button type="button" class="modal-close is-large" onclick="document.getElementById('modify-account').classList.remove('is-active')" aria-label="close"></button>
                <h2 class="title is-2">Modifie ton profile</h2>
                <p class="subtitle is-6">Change le look de ton profile !</p>

                <div class="field">
                  <label class="label">Nom Complet</label>
                  <div class="control">
                    <input class="input" type="text" placeholder="John Doe" name="fullname" required value="{{user.fullname}}">
                  </div>
                </div>

                <div class="field">
                  <label class="label">Nom d'utilisateur</label>
                  <div class="control has-icons-left">
                    <input class="input is-success" type="text" placeholder="johndoe" pattern="^[a-z0-9_.]+$" name="username" value="{{user.username}}" required>
                    <span class="icon is-black is-small is-left">
                      <i class="fas fa-at"></i>
                    </span>
                  </div>
                  <p class="help is-success" id="username-info"></p>
                  <p class="help is-danger">Please only use a-z 0-9 "." and "_" characters</p>
                </div>

                <div class="field">
                  <label class="label">Email</label>
                  <div class="control has-icons-left">
                    <input class="input" type="email" placeholder="john@doe.com" name="email" required value="{{user.email}}">
                    <span class="icon is-black is-small is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                  </div>
                </div>

                <div class="field">
                  <label class="label">Bio</label>
                  <div class="control has-icons-left">
                    <textarea class="textarea" name="bio" placeholder="Je suis John Doe, je pratique..." required >{{user.description}}</textarea>
                  </div>
                </div>

                <div class="field">
                  <label class="label"><i class="fas fa-child"></i>&nbsp;Intérêts</label>
                  <div class="control">
                    <input class="input" type="text" data-type="tags" placeholder="bmx, cliff, freestyle" name="interests" value="{{','.join(user.interests)}}">
                  </div>
                  <p class="help is-info">Liste de tags séparés par des virgules (eg: trampo,freestyle,bmx,cliff,vtt)</p>
                  <p class="help is-info">Nous aide à trouver des vidéos qui pourraient vous plaire !</p>
                </div>

                <div class="field">
                  <label class="label">Photo</label>
                  <figure class="media-left">
                    <p class="image is-64x64" style="margin-bottom: 1em;">
                      <img class="is-rounded" src="/media/pdp/{{user.photo}}" style="object-fit: cover; width: 100%; height: 100% !important;" id="preview">
                    </p>
                  </figure>
                  <div class="file">
                    <label class="file-label">
                      <input class="file-input" type="file" name="photo" accept="image/png,image/jpeg" id="pdp">
                      <span class="file-cta">
                        <span class="file-icon">
                          <i class="fas fa-upload"></i>
                        </span>
                        <span class="file-label">
                          Choisir un fichier
                        </span>
                      </span>
                    </label>
                  </div>
                </div>

                <div class="field is-grouped">
                  <div class="control">
                    <button class="button is-third" type="submit">Modifier</button>
                    <button class="button is-primary" type="button" onclick="document.getElementById('modify-account').classList.remove('is-active')">Annuler</button>
                  </div>
                </div>
              </section>
            </form>
            <script>
                BulmaTagsInput.attach()
                let fileInput = document.querySelector('#pdp')
                let usernameInput = document.querySelector('[name=\'username\']')
                let usernameInfo = document.querySelector('#username-info')
                let photoPreview = document.querySelector('#preview')

                fileInput.addEventListener('change', async () => {
                    file = fileInput.files[0]
                    photoPreview.src = await toBase64(file)
                })

                usernameInput.addEventListener('change', verifyUsername)

                const toBase64 = file => new Promise((resolve, reject) => {
                    const reader = new FileReader();
                    reader.readAsDataURL(file);
                    reader.onload = () => resolve(reader.result);
                    reader.onerror = error => reject(error);
                });

                function verifyUsername() {
                    username = usernameInput.value

                    fetch(`/username-is-available?username=${username}`)
                        .then(resp => { return resp.json() })
                        .then(json => {
                            if (json['available']) {
                                usernameInput.setCustomValidity("");
                                usernameInput.classList.remove('is-danger')
                                usernameInfo.classList.remove('is-danger')
                                usernameInput.classList.add('is-success')
                                usernameInfo.classList.add('is-success')
                                usernameInput.classList.remove('is-warning')
                                usernameInfo.classList.remove('is-warning')
                                usernameInfo.innerText = 'Ce nom d\'utilisateur est disponible'
                            } else {
                                if (username === '{{user.username}}') {
                                    usernameInput.setCustomValidity("Nom d'utilisateur inchangé");
                                    usernameInput.classList.add('is-warning')
                                    usernameInfo.classList.add('is-warning')
                                    usernameInput.classList.remove('is-success')
                                    usernameInfo.classList.remove('is-success')
                                    usernameInput.classList.remove('is-danger')
                                    usernameInfo.classList.remove('is-danger')
                                    usernameInfo.innerText = 'Le nom d\'utilisateur n\'a pas été changé.'
                                } else {
                                    usernameInput.setCustomValidity("Nom d'utilisateur déjà pris !");
                                    usernameInput.classList.add('is-danger')
                                    usernameInfo.classList.add('is-danger')
                                    usernameInput.classList.remove('is-success')
                                    usernameInfo.classList.remove('is-success')
                                    usernameInput.classList.remove('is-warning')
                                    usernameInfo.classList.remove('is-warning')
                                    usernameInfo.innerText = 'Ce nom d\'utilisateur est déjà pris'
                                }
                            }
                        })
                }
            </script>
          </div>
        </div>
      </div>
  </div>
  <div class="bottom">
      <div class="icons">
        <div class="icons-item" id="changepagehome" onclick="changePage('home')">
          <span class="icon">
            <i class="fas fa-house"></i>
          </span>
          <span class="icon-label">Accueil</span>
        </div>
        <div class="icons-item" id="changepagesearch" onclick="changePage('search')">
          <span class="icon">
            <i class="fas fa-search"></i>
          </span>
          <span class="icon-label">Rechercher</span>
        </div>
        <div class="icons-item" id="add">
          <div class="icons-item-add">
            <span class="icon is-black" style="display: flex;">
              <i class="fas fa-plus"></i>
            </span>
          </div>
        </div>
        <div class="icons-item" id="changepagemessages" onclick="changePage('messages')">
          <span class="icon">
            <i class="fas fa-comment-alt-lines"></i>
          </span>
          <span class="icon-label">Messages</span>
        </div>
        <div class="icons-item" id="changepageaccount" onclick="changePage('account')">
          <span class="icon">
            <i class="fas fa-user"></i>
          </span>
          <span class="icon-label">Compte</span>
        </div>
      </div>
  </div>
</div>
<script src="/static/js/base.js"></script>
<script>
    let ids = ['search', 'home', 'account', 'messages']
    let playPauseIcon = document.getElementById('playpauseicon')
    let pauseOverlay = document.querySelector('.pause')
    let overlayMore = document.querySelector('.overlay')
    let number, link;
    var videoID = '{{video.video_id}}'
    var videoObject = {{video|string|replace('True', 'true')|replace('False', 'false')|safe|replace('datetime.datetime', 'Date')}}
    const videos = [];
    const comments_ids = [];
    const videos_length = videos.length;

    video.pause()

    function addVideoIDToPath(form, path) {
        form.action = path + videoID
        return true
    }

    function changePage(id) {
        for (const id1 of ids) {
            document.getElementById(id1).setAttribute('style', 'display: none');
            document.getElementById(`changepage${id1}`).classList.remove('active')
        }
        location.hash = id
        document.getElementById(id).setAttribute('style', '')
        if (id === 'home') {
            video.play()
        } else {
            video.pause()
        }
        document.getElementById(`changepage${id}`).classList.add('active')
    }

    function animdown() {
        video.setAttribute('class', 'video up')
        setTimeout(() => {
            video.setAttribute('class', 'video')
        }, 2000)
    }

    function animup() {
        video.setAttribute('class', 'video down')
        setTimeout(() => {
            video.setAttribute('class', 'video')
        }, 2000)
    }

    function swipedown(video=document.querySelector('.video')) {
        loadNewVideo()
        changePause('', false)
        video.play()
        number = parseInt(video.getAttribute('number')) + 1
        if (videos[number] === undefined) {
            number = 0
        }
        animdown()
        video.setAttribute('number', number)
        video.setAttribute('id', comments_ids[number])
    }
    function swipeup(video=document.querySelector('.video')) {
        number = parseInt(video.getAttribute('number')) - 1
        if (videos[number] === undefined) {
            number = videos_length - 1
        }
        animup()
        video.setAttribute('number', number)
        video.setAttribute('id', comments_ids[number])
    }

    const swiper = new Swipe(document.querySelector('#home'))
    // swiper.onDown(swipeup)
    swiper.onUp(swipedown)
    swiper.run()

    function changePause(icon, persistant) {
        playPauseIcon = document.getElementById('playpauseicon')
        if (persistant) {
            playPauseIcon.classList = icon
            pauseOverlay.classList.add('active')
            return
        }
        playPauseIcon.classList = icon
        pauseOverlay.classList.add('active')
        setTimeout(() => {
            pauseOverlay.classList.remove('active')
        }, 900)
    }

    function audio(obj) {
        if (video.muted) {
            video.muted = false;
            obj.setAttribute('class', 'fas fa-volume-up')
            document.getElementById('muteun').innerHTML = '&nbsp;Son&nbsp;'
        } else {
            video.muted = true;
            obj.setAttribute('class', 'fas fa-volume-mute')
            document.getElementById('muteun').innerHTML = 'Muet'
        }
    }

    async function share() {
        link = window.location.method + window.location.host + `/home?video=${video.getAttribute('src')}`
        if (navigator.canShare) {
            const data = {
                title: `TricksTok, vidéo ${video.src} !`,
                text: 'Va checker cette vidéo elle est super bien !',
                url: link
            }
            navigator.share(data)
        } else {
            navigator.clipboard.writeText(`${link}`);
            alert('Lien copié dans le presse papier !')
        }
    }

    function more() {
        pause(true)
        overlayMore.classList.add('active')
    }
    function moreClose() {
        overlayMore.classList.remove('active')
        pause()
    }

    window.addEventListener('load', () => {
        video.play()
        if (ids.includes(window.location.hash.replace('#', ''))) {
            changePage(window.location.hash.replace('#', ''))
        }
        document.querySelector('.screenloader').classList.add('disable')
    })

    function fullScreen() {
        document.documentElement.requestFullscreen().then(r => console.log(r)).catch(e => console.warn(e))
    }

    function changeTab(currentTab, requestTab, associatedEl, removeEls) {
        currentTab.classList.add('is-active');
        currentTab.parentElement.querySelector(requestTab).classList.remove('is-active');
        document.getElementById(associatedEl).style = ''
        removeEls.forEach(el => {document.getElementById(el).style = 'display: none'})
    }

</script>
{% endblock %}