<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TricksTok, Bienvenue</title>
  <link rel="shortcut icon" href="/static/assets/trickstok_logo.png" type="image/x-icon">
  <script src="https://kit.fontawesome.com/628c8d2499.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/landing.css">
  <link rel="stylesheet" type="text/css" href="/static/css/form.css">
  <meta property="og:title" content="TricksTok, L'application des pasionnés de spors extrêmes !"/>
  <meta property="og:site_name" content="TricksTok, L'application des pasionnés de spors extrêmes !"/>
  <meta property="og:url" content="https://trickstok.tk"/>
  <meta property="og:description" content="TricksTok est l'application qu'il te faut en tan que passionné de sports extrêmes."/>
  <meta property="og:image" content="https://trickstok.tk/static/assets/banner.png"/>
  <meta property="og:type" content="website"/>
  <meta property="og:keywords" content="tricks,tiktok,trickstok,skate,surf,skatepark,trot,trotinnette,roller,kate"/>
  <meta property="twitter:card" content="summary_large_image">
  <meta name="keywords" content="tricks,tiktok,trickstok,skate,surf,skatepark,trot,trotinnette,roller,kate"/>
  <meta name="theme-color" content="#4c7bfe">
  <script defer data-domain="trickstok.camarm.fr" src="https://analytics.camarm.fr/js/script.js"></script>
  <script defer data-domain="trickstok.camarm.fr" src="https://analytics.camarm.fr/js/script.hash.js"></script>
  <script defer data-domain="trickstok.camarm.fr" src="https://analytics.camarm.fr/js/script.tagged-events.js"></script>
  <script defer data-domain="trickstok.camarm.fr" src="https://analytics.camarm.fr/js/script.outbound-links.js"></script>
</head>
<body>
<section class="hero is-fullheight is-info">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="/static/assets/trickstok_logo_large_white.png" alt="Logo TricksTok">
          </a>
          <span class="navbar-burger burger" data-target="navbarMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
            <span class="navbar-item">
              <a class="button is-white is-outlined" href="/home">
                <span class="icon">
                  <i class="fas fa-browser"></i>
                </span>
                <span>Ouvrir l'application</span>
              </a>
            </span>
            <span class="navbar-item">
              <a class="button is-white is-outlined" href="/blog">
                <span class="icon">
                  <i class="fas fa-newspaper"></i>
                </span>
                <span>Actualités</span>
              </a>
            </span>
            <span class="navbar-item">
              <a class="button is-white is-outlined" href="https://support.camarm.fr/newissue" target="_blank">
                <span class="icon">
                  <i class="fas fa-user-headset"></i>
                </span>
                <span>Support</span>
              </a>
            </span>
            <span class="navbar-item">
              <a class="button is-white is-outlined" href="#">
                <span class="icon">
                  <i class="fas fa-download"></i>
                </span>
                <span>Télécharger l'application</span>
              </a>
            </span>
            <span class="navbar-item">
              <a class="button is-white is-outlined" href="https://gitlab.com/comtelabs/tricks-tok">
                <span class="icon">
                  <i class="fab fa-gitlab"></i>
                </span>
                <span>Code source</span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-6 is-offset-3">
        <h1 class="title">
          Coming Soon
        </h1>
        <h2 class="subtitle">
          TricksTok est l'application qu'il te faut en tant que passioné de sports freestyle/extrêmes !<br> Pré inscris-toi à la beta si dessous:
        </h2>
        <div class="box">
          <form action="/prelogin" method="post">
            <div class="field is-grouped">
              <p class="control is-expanded">
                <input class="input" type="text" placeholder="my@email.com" name="email">
              </p>
              <p class="control">
                <button class="button is-third" type="submit" role="button">
                  Notifiez moi
                </button>
              </p>
<!--              <p class="help"><a href="/blog/beta">Plus d'infos sur les préinscriptions</a></p>-->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</section>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Trickstok</strong> par <a href="https://www.camarm.dev">camarm</a>. Le code source est sous licence
      <a href="/licence">CeCill</a>. Les logos et image de TricksTok sont
      sous licence <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
      <br>
      Page d'accueil (<a href="https://trickstok.tk/">https://trickstok.tk/</a>) et de blog <a href="https://trickstok.tk/blog">https://trickstok.tk/blog</a> par <a href="https://bulmatemplates.github.io/bulma-templates/" target="_blank">bulmatemplates.github.io</a>
    </p>
  </div>
</footer>
<script async type="text/javascript">
    (function() {
        var burger = document.querySelector('.burger');
        var menu = document.querySelector('#'+burger.dataset.target);
        burger.addEventListener('click', function() {
            burger.classList.toggle('is-active');
            menu.classList.toggle('is-active');
        });
    })();
</script>
</body>
</html>